{% extends 'main/base.html' %}
{% load static %}

{% block title %}QnA{% endblock title %}

{% block custom_styles %}<link rel="stylesheet" href="{% static 'css/qna-style.css' %}">{% endblock custom_styles %}

{% block custom_id %}qna{% endblock custom_id %}

{% block content %}
<form>
    <div class="form-group mt-5 pt-5">
        <label>Feel free to ask</label>
        <input type="email" class="form-control form-rounded" id="" aria-describedby="qnaHelp" placeholder="What's your question?">
        <small id="qnaHelp" class="form-text text-muted">E.g. what are the menus?</small>
    </div>
</form>

<div class="answer-box">

</div>
{% endblock content %}
