{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-info fixed-top" id="navbar">
    <a class="navbar-brand header-title" href="#"><img src="{% static 'images/favicon.png' %}" width="50" height="50" alt="">
        <span class="header-title" id="brand">Cater.ing</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active header-subtitle">
                <a class="nav-link" id="features" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active header-subtitle">
                <a class="nav-link" id="features" href="#">Menu <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active header-subtitle">
                <a class="nav-link" id="features" href="#">Q&A<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active header-subtitle">
                <a class="nav-link" id="features" href="#">Article <span class="sr-only">(current)</span></a>
            </li>
        </ul>
        <a href="#" class="btn btn-warning header-subtitle mx-3">Login</a>
    </div>    
</nav>